*{
    margin:0 ;
    padding: 0;
    scroll-behavior: smooth;

}


.form{
  /* text-align: center;
  margin-top: 100px;
  margin-left: 160px; */
    /* width: 555px; */
    min-width: 603px;
    border-radius: 10px;
    padding: 20px;
      backdrop-filter: blur(16px) saturate(180%);
      -webkit-backdrop-filter: blur(16px) saturate(180%);
      background-color: rgba(255, 255, 255, 0.75);
      /* border: 1px solid rgba(209, 213, 219, 0.3); */
  
}

input[type=text] , input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #271d62;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #ffffff;
    border:3px solid #271d62;
    color:#271d62;
    padding: 14px 20px;
    margin: 8px 0;
  }
  input:invalid{
        border: 2px solid red;
        
  }
   

 .output{
  color: rgb(0, 0, 0);
  text-align: center;

}

footer{
  background-color:#F2F3F4;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}