*{
    margin:0 ;
    padding: 0;
    scroll-behavior: smooth;

}

article{
    
    background-color: antiquewhite;
}

  
.arrow{
    position: fixed;
    top: 88%;
    left: 48%;
    z-index:999;
 }
 


/* .................................... svg bg...................................... */
.custom-shape-divider-bottom-1680388389 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1680388389 svg {
    position: relative;
    display: block;
    width: calc(136% + 1.3px);
    height: 203px;
}

.custom-shape-divider-bottom-1680388558 .shape-fill {
    fill: #ff1010;
    background-color: #ff0000;
}
/* ///////////////////////////////////////////////////////////////////// */